@font-face {
	font-family: "Trenda";
	src: url("/static/fonts/font__name.woff2") format("woff2"),
		url("/static/fonts/font__name.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}